@font-face {
    font-family: ralewayMedium;
    src: url('/font/Raleway-Medium.ttf');
}

@font-face {
    font-family: ralewaySemiBold;
    src: url('/font/Raleway-SemiBold.ttf');
}
@font-face {
    font-family: ralewayExtraBold;
    src: url('/font/Raleway-ExtraBold.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500&family=Ubuntu&family=Yatra+One&display=swap');


.post-intern{
    width: 100%;
    max-width: 900px;
    height: fit-content;
       
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.post-intern p{
    padding: 0px 30px 0px 30px;

    color: #595959;

    text-align: justify;

    line-height: 2.2;
    font-family: ralewaySemiBold;

    font-size: 14px;

    text-indent: 4em;
}


.title-post-subtitle-post-intern{
    color: rgb(34, 34, 34);

    align-self: flex-start;
    text-indent: 0;

    margin-bottom: 50px;

    line-height: 2;
}

.post-intern .title-post-subtitle-post-intern h1{
    font-family: ralewayExtraBold;

    color: rgb(33, 33, 33);
    font-size: 28px;
    font-weight: 800;
}

.post-intern .title-post-subtitle-post-intern h2{
    font-family: ralewaySemiBold;

    color: #b6b6b6;
    font-size: 16px;
    font-weight: 300;
}

.post-intern img{
    min-width: 70%;
    width: 70%;
    max-width: 70%;
    min-height: 100%;
    height: 100%;
    max-height: 100%;

    object-fit: cover;

    margin: 30px 0 30px 0;
}


.post-intern .end-post{
    height: 15vh;
    min-height: 15vh;
    max-height: 15vh;

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    padding: 0;
}

.post-intern .end-post .info-post{
    margin-top: 10px;
    position: relative;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;

    background-color: #f7f7f7;

    border-radius: 2px;
}

.post-intern .end-post .info-post p{
    color: rgb(31, 31, 31);
    margin: 2px;

    font-family: ralewaySemiBold;
    font-size: 14px;

    text-indent: 0;
}

.box-posts h1{
    color: #595959;
    font-family: ralewaySemiBold;
    margin: 20px 0 20px 0
}

.box-posts .list-posts{
    width: 70%;
    height: fit-content;

}

.posts .list-posts ul{

    list-style: none;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.posts .list-posts ul li{

    width: 90%;
    min-height: 40px;
    max-height: fit-content;

    background-color: #f3f3f3;

    display: flex;
    align-items: center;

    border-radius: 6px;

    margin: 20px;

    padding-left: 10px;
}

.posts .list-posts ul li:hover::before{
    transform: rotate(90deg);
    transition: 0.5s;
}

.posts .list-posts ul li::before{

    content: '';
    width: 15px;
    height: 15px;

    display: flex;
    position: absolute;

    background-color: #595959;
}

.posts .list-posts ul li a{

    width: 100%;
    min-height: 40px;

    color: rgb(36, 36, 36);
    text-decoration: none;

    font-family: ralewaySemiBold;

    display: flex;
    align-items: center;

    padding: 10px 10px 10px 30px;
}

/* escreva */

.escreva::after{
    content: '';
    width: 85%;
    height: 1px;

    background-color: #dddddd;

    position: absolute;

    top: 0;
}

.escreva{
    min-height: 50vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

}

.escreva form{

    width: 90%;
    max-width: 800px;

    height: fit-content;
    min-height: 70%;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    padding: 10px;
}

.escreva form .btn{
    min-width: 150px;
    width: 220px;

    height: 40px;

    border: 1px solid #eeeeee;
    border-radius: 10px;

    position: relative;

    display: flex;

    overflow: hidden;
    
}

.escreva form input{
    padding: 20px;
}

.escreva form .btn p{

    background-color: rgb(0, 132, 255);
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

    width: 25%;
    height: 100%;

    position: relative;

    border-radius: 0 5px 5px 0;
}

.escreva form .btn button{
    position: relative;

    border: none;

    width: 75%;
    height: 100%;

    margin-right: auto;
    background-color: #fff;

    color: #595959;
    font-family: ralewaySemiBold;

    cursor: pointer;
}

.escreva form textarea{
    max-width: 550px;
    width: 90%;
    max-height: 300px;

    border: 1px solid #eeeeee;
    border-radius: 10px;

    padding: 30px;

    resize: none;

    margin-bottom: 40px;

    line-height: 2;
}

.escreva form label{
    margin: 50px 0 20px 0;

    color: #595959;
    font-family: ralewayMedium;
}

.escreva iframe{
    display: none;
}


#notice{
    background-color: rgba(88, 225, 104, 0.809); 
    color: #fff; 
}

#notice-falha{
    background-color: rgba(225, 88, 88, 0.809); 
    color: #fff; 
}

.notices{
    font-size: 14px; 
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: 700; 
    padding: 14px 20px; 
    border-radius: 12px; 
    display: none;

    position: absolute;
    top: 20px;
    left: 40%;
}

#loading{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: rgb(126, 126, 126);

    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 100px;

    margin-top: 10vh;

    position: absolute;

    bottom: -20px;
    z-index: 200;
    display: none;

}

#loading::after{
    content: '';
    animation: loading 2s infinite;
    width: 15px;
    height: 15px;
    border: 2px solid red;

    position: absolute;
    border-radius: 60%;
}

@keyframes loading {
    0%, 100%{
        border: double pink 2px;
    }
    
    50%{
        border: blue double 2px;
    }
}

 .box-posts .search{
     width: 100%;
     height: 35px;

     margin-bottom: 30px;

     position: relative;

     display: flex;
     align-items: center;
 }

 .box-posts .search input{
 
    width: 45%;
    height: 100%;
    
    border-radius: 5px;
    border: none;

    border: #595959 1px solid;

    padding: 5px 0 5px 20px;

    margin: 5px;
}

.box-posts .search select{
    width: 45%;
    height: 100%;

    border-radius: 5px;
    border: #595959 1px solid;

    margin: 5px;

    padding: 5px 0 5px 20px;

}

.box-posts .search button{
    width: 10%;
    height: 100%;

    border-radius: 5px;
    border: none;

    background-color: #29a9ff;
    color: #fff;

    margin: 5px;
    cursor: pointer;
}

.box-posts .search button:hover{
    background-color: #2598e4;
}

.box-posts .result-search{
    width: 100%;
    min-height: 20vh;
    height: fit-content;

    border: 1px solid rgb(44, 78, 107);

    margin: 0 0 30px 0;

    display: flex;
    justify-content: center;
}

.box-posts .result-search h1{
    position: absolute;
    opacity: 20%;
}

.box-posts .result-search .list-search{
    display: flex;
    flex-wrap: wrap;


}

.box-posts .result-search .list-search .item{
    color: #595959;
    font-family: ralewaySemiBold;
    font-size: 14px;

    margin: 5px;

    width: fit-content;
    height: 30px;

    padding: 10px;

    background-color: #ebebeb;

}



